.main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 40px 16px;
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionRight {
  padding-top: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  margin-left: auto;
  margin-right: 16px;
  font-size: 14px;
  color: var(--text-inactive-color);
}

.status_online {
  color: var(--text-primary-color);
}
