.main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  padding: 40px 16px;
}

.menu {
  padding-top: 80px;
}

.content {
  padding-top: 40px;
}

.status {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  color: var(--text-inactive-color);
}

.status_online {
  color: var(--text-primary-color);
}
